body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

.btnLogin {
    border: none;
    background: transparent;
    font-size: 20px;
    padding-left: 10px;
}

.navbar {
    font-size: 15px !important;
}

.logoNavImg {
    width: 140px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.inputHeader {
    width: 18rem !important;
}

.btnHeader {
    width: 5rem;
}

.redSocial {
    font-size: 30px !important;
    padding-left: 10px;
}

.hearder1 {
    align-items: center;
    padding-top: 10px;
}

.header2{
    align-items: center;
    padding-top: 15px;
}

.linkheader {
    color: #48385D;
    font-size: 20px;
    text-decoration: none;
}

.linkheader:hover {
    text-decoration: none;
    color: #12DD9C;
}

.logoNav {
    display: flex;
    justify-content: center;
}

.infoRedes {
    display: flex;
    justify-content: end;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
