body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

.navbar {
    font-size: 15px !important;
}

.logoNavImg {
    width: 200px
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.hearder1 {
    align-items:center;
}

.logoNav {
    display: flex;
    justify-content: center;
}

.infoRedes {
    display: flex;
    justify-content: end;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
