@{
    ViewBag.Title = "Cliente";
    if (Session["User"] == null)
    {
        <script>
            window.location.href = "Index";
        </script>
    }
}
<link rel="stylesheet" href="~/Content/Styles/cliente.css">

<h2>Clientes</h2>

<div class="container">
    <div class="col-12 d-flex mb-5 justify-content-end">
        <button class="btnTablaC btn btn-success" onclick="location.href='@Url.Action("Agregar_ActualizarCliente", "Home", new { Op = 1 })'">Agregar</button>   
    </div>
    <div class="tableClientes">
        <table class="table table-striped" id="myTableCliente">
            <thead>
                <tr class="bg-success">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Direcccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="TablaBodyCliente">
                
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/Script/cliente.js"></script>
