@{
    ViewBag.Title = "Home Page";

    if (Session["User"] == null)
    {
        <script>
            window.location.href = "Index";
        </script>
    }
}
<link rel="stylesheet" href="~/Content/Styles/IndexLog.css">
<script src="~/Scripts/Script/IndexLog.js"></script>


<!-- Sección de Información del Usuario -->
<div class="container mt-4">
    <div class="row  p-3 align-items-center" id="infoUser">
        <div class="col-9 border-end" id="userInfo">

        </div>
        <div class="col-3 text-center" id="fotoUser">
            <div class="foto rounded-circle"><img src="https://cdn-icons-png.flaticon.com/512/204/204191.png"></div>
        </div>
        <div class="d-flex justify-content-end w-100">
            <div>
                <button onclick="location.href='index'" class="btnEditarPerfil">Editar <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Sección de Módulos -->
<div class="container mt-4">
    <div class="row text-center justify-content-between align-items-stretch" id="modulos">
        <div class="moduloP col-md-4 col-12 p-2">
            <div class="modulo border p-3 h-100">
                <h1>Cliente</h1>
                <p class="text-justify">
                    En este módulo, podras gestionar la información de tus clientes. Podrás agregar nuevos clientes, ver los datos de los clientes existentes,
                    actualizar su información y eliminarlos si ya no son necesarios. Ideal para tener un control rápido y efectivo de las personas que compran en tu negocio.
                </p>
                <div class="Continuar text-right"><a href="Cliente">Continuar>></a></div>
            </div>
        </div>
        <div class="moduloP col-md-4 col-12 p-2">
            <div class="modulo border p-3 h-100">
                <h1>Producto</h1>
                <p class="text-justify">
                    Este módulo te permite administrar todos los productos de tu inventario. Puedes registrar nuevos productos, revisar los detalles de cada uno,
                    actualizar su información y eliminar productos que ya no se vendan. Mantén tu inventario siempre organizado y actualizado de manera fácil.
                </p>
                <div class="Continuar text-right"><a href="Producto">Continuar>></a></div>
            </div>
        </div>
        <div class="moduloP col-md-4 col-12 p-2">
            <div class="modulo border p-3 h-100">
                <h1>Proveedor</h1>
                <p class="text-justify">
                    Con este módulo, puedes gestionar a los proveedores de tu negocio. Podrás añadir nuevos proveedores, consultar la lista de los que ya tienes,
                    actualizar la información de contacto y eliminar aquellos con los que ya no trabajes. Así, tendrás siempre a la mano los datos de quienes suministran tus productos.
                </p>
                <div class="Continuar text-right"><a href="Proveedor">Continuar>></a></div>
            </div>
        </div>
    </div>
</div>

<!-- Sección de Notificaciones con Scroll Horizontal -->

<div class="container mt-4">
    <h1>Notificaciones</h1>
    <div class="row" id="notificaciones">
        <div class="col-12">
            <div class="scroll-container d-flex flex-row overflow-auto border" id="notificacionesList">

                <!-- Notificaciones de alerta de peligro (menos de 10 en stock) -->
                <div class="notificacion alerta-peligro"><i class="fa fa-frown-o" aria-hidden="true"></i><br />Alerta de peligro: reglas está a punto de acabarse. Stock actual: 1</div>
                <div class="notificacion alerta-peligro"><i class="fa fa-frown-o" aria-hidden="true"></i><br>Alerta de peligro: Pegamento en barra está a punto de acabarse. Stock actual: 2</div>
                <div class="notificacion alerta-peligro"><i class="fa fa-frown-o" aria-hidden="true"></i><br>Alerta de peligro: pegamento liquido está a punto de acabarse. Stock actual: 9</div>

                <!-- Notificaciones de alerta de advertencia (entre 10 y 30 en stock) -->
                <div class="notificacion alerta-advertencia"><i class="fa fa-meh-o" aria-hidden="true"></i><br>Alerta: escuadras está próximo a acabarse. Stock actual: 30</div>
                <div class="notificacion alerta-advertencia"><i class="fa fa-meh-o" aria-hidden="true"></i><br>Alerta: tijeras está próximo a acabarse. Stock actual: 28</div>
                <div class="notificacion alerta-advertencia"><i class="fa fa-meh-o" aria-hidden="true"></i><br>Alerta: bolsas de plastico está próximo a acabarse. Stock actual: 34</div>

            </div>
        </div>
    </div>
</div>

