@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/Styles/Index.css">
<script src="~/Scripts/Script/Index.js"></script>

@if (Session["User"] == null)
{

    <section class="jumbotron">
        <div class="container animacion">
            <h1 class="animacion-text" id="changingText">Nuestra plataforma te ofrece una visión completa y detallada de tus existencias.</h1>
        </div>
    </section>

    <section class="services ">
        <div class="container animacion">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="service-item  ">
                        <h1>Gestión de Inventarios</h1>
                        <p>Ofrecemos a nuestros clientes herramientas avanzadas para una gestión eficiente del inventario, permitiéndoles el registro de Productos, control de Stock y Clasificación de Producto.</p>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item  ">
                        <h1>Monitoreo de stock</h1>
                        <p>Brindamos servicios de monitoreo de stock, en el cual usted será notificado por medio de alertas.</p>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item  ">
                        <h1>Gestión de Proveedores</h1>
                        <p>Ayudamos a nuestros clientes a gestionar sus proveedores para el registro de proveedores e historial de Pedidos a Proveedores.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container animacion mt-4">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="service-item  ">
                        <h1>Desarrollo de software</h1>
                        <p>Desarrollamos software a medida, seguro y escalable para su empresa.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item  ">
                        <h1>Soporte y Capacitación</h1>
                        <p>Proporcionamos materiales de formación y tutoriales para aprender a utilizar todas las funcionalidades del sistema.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="contact">
        <div class="container animacion">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="contact-form" >
                        <h2 >Contactanos</h2>
                        <form action="#" method="POST">
                            <div class="form-group">
                                <label for="nombre" >Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="email" >Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="mensaje" >Mensaje:</label>
                                <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" style="background-color: #0A2342;">Enviar Mensaje</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="nosotros" style="background-color: #f2f2f2;">
        <div class="container animacion">
            <div class="row">
                <div class="col-md-4">
                    <div class="nosotros-item  ">
                        <img class="imgMVO" src="~/img/cohete.png"/>
                        <h2>Mision</h2>
                        <p>Facilitar a las pequeñas tiendas una herramienta eficiente y fácil de usar para gestionar sus inventarios, registrar ventas y controlar costos, con el fin de optimizar sus operaciones y potenciar su éxito comercial.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nosotros-item  ">
                        <img class="imgMVO" src="~/img/vision.png" />
                        <h2>Vision</h2>
                        <p>Convertirnos en el aliado preferido de las pequeñas tiendas en la gestión de inventarios, siendo reconocidos por nuestra innovación, confiabilidad y compromiso con el crecimiento de nuestros usuarios.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nosotros-item  ">
                        <img class="imgMVO" src="~/img/Objetivo.png"/>
                        <h2>Objetivo</h2>
                        <p>Mejorar la eficiencia y rentabilidad de las pequeñas tiendas mediante una plataforma de gestión de inventarios integral, que les permita optimizar sus operaciones, controlar sus costos y aumentar sus ventas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="popupOverlay" class="overlay">
        <div id="popup" class="popup">
            <i class="fa fa-exclamation-triangle logoinfo" aria-hidden="true"></i>
            <h1>Para poder acceder a nuestros servicios,<br /> por favor regístrese o inicie sesión.</h1>
            <div class="close-btn btn btn-info" onclick="cerrarPopup()">Cerrar</div>
        </div>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            mostrarPopup();

            var textos = [
                "Optimiza tu gestión de inventarios con nuestra plataforma intuitiva y fácil de usar.",
                "Control total sobre tus existencias con nuestro sistema de inventario en tiempo real.",
                "Maximiza la eficiencia de tu negocio con un seguimiento preciso de todos tus productos.",
                "Obtén informacion valiosa sobre tu inventario para tomar decisiones informadas.",
                "Nuestra plataforma te ofrece una visión completa y detallada de tus existencias."
            ];

            var currentIndex = 0;
            var changingText = document.getElementById('changingText');

            function changeText() {
                changingText.textContent = textos[currentIndex];
                currentIndex = (currentIndex + 1) % textos.length;
            }

            setInterval(changeText, 5000);
        });

        function mostrarPopup() {
            document.getElementById('popupOverlay').style.display = 'flex';
        }

        function cerrarPopup() {
            document.getElementById('popupOverlay').style.display = 'none';
        }
    </script>
}
else
{
    <div class="vistaUsuarioRegistrado" id="InfoUsuario">
        <img src="~/img/Usuario.png" class="imgTituloPag imgTituloPagUser"/>
        <div class="encabezado">
            <img src="https://static.vecteezy.com/system/resources/previews/002/420/937/non_2x/back-to-school-background-with-school-supplies-background-free-photo.jpg">
        </div>

        <div class="imagenUsuario">
            <img src="https://cdn-icons-png.flaticon.com/512/204/204191.png">
        </div>

        <div class="contenedorInformacion">
            <h2 id="NombreEmpresa"></h2>
            <h3 id="NitEmpresa"></h3>

            <div class="containerUsuario">
                <div class="contenedorDatos container">
                    <div class="col-12 justify-content-around cuandroDatos">
                        <div class="col-12 col-md-5">
                            <h2>DATOS DE LA EMPRESA</h2>
                            <div class="mt-5">
                                <label>Ciudad </label>
                                <input id="CiudadEmpresa" type="text" value="">
                                <label>Categoria </label>
                                <input id="CategoriaEmpresa" type="text" placeholder="Categoria de la empresa">
                                <label>Telefono </label>
                                <input id="TelefonoEmpresa" type="text" placeholder="Telefono de la empresa">
                                <label>Direccion </label>
                                <input id="DireccionEmpresa" type="text" placeholder="Direccion de la empresa">
                                <label>Correo </label>
                                <input id="CorreoEmpresa" type="email" placeholder="Correo de la empresa">
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <h2 class="TituloPersonaCargo">INFORMACION DE LA PERSONA A CARGO</h2>
                            <div class="mt-5">
                                <label>Nombre </label>
                                <input id="CargoEmpresa" type="text" placeholder="Nombres y Apellidos">
                                <label>Correo </label>
                                <input id="CorreoEmpresa" type="email" placeholder="Correo de la empresa">
                                <label>Telefono </label>
                                <input id="TelefonoEmpresa" type="text" placeholder="Telefono de la empresa">
                            </div>
                            <div class="mt-4 d-flex justify-content-end" id="btnIndexForm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      MostrarDatos();
    </script>
}


