@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/Styles/Index.css">

<div id="carouselControls" class="carousel slide card" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselControls" data-slide-to="1"></li>
        <li data-target="#carouselControls" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('../../img/imgCarrusel1.png'); ">
        </div>
        <div class="carousel-item" style="background-image: url('../../img/imgCarrusel2.png'); ">
        </div>
        <div class="carousel-item" style="background-image: url('../../img/imgCarrusel3.png'); ">
        </div>
    </div>

    <div class="card-img-overlay informacionFormulario d-flex justi">
        <div class="col-12 d-flex formulario">
            <div class="col-8 TextSaberMas">
                <p class="textCarrusel text-white">¿QUIERES SABER MAS DE NOSOTROS?</p>
                <p class="textCarrusel text-white">Y de como puedes manejar tu inventario</p>
            </div>
            <div class="col-4 columnaform">
                <div class="formularioInfo">
                    <div class="form-group text-center">
                        <h2 class="h1 textCarrusel text-white">INGRESA TU INFORMACION</h2>
                        <div class="form-group mt-5">
                            <input type="text" class="inputInfo" placeholder="Nombre:">
                        </div>
                        <div class="form-group">
                            <input type="text" class="inputInfo" placeholder="Email:">
                        </div>
                        <div class="form-group">
                            <input type="text" class="inputInfo" placeholder="Documento:">
                        </div>
                        <div class="form-group">
                            <input type="text" class="inputInfo" placeholder="Celular:">
                        </div>
                        <div class="form-group">
                            <input type="text" class="inputInfo" placeholder="Informacion de interes:">
                        </div>
                        <input type="submit" value="ENVIAR" class="mt-5 btnEnviarInfo btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupOverlay" class="overlay">
    <div id="popup" class="popup">
        <i class="fa fa-exclamation-triangle logoinfo" aria-hidden="true"></i>
        <h1>Para poder entrar a las otras opciones, por favor regístrese o inicie sesión.</h1>
        <div class="close-btn btn btn-info" onclick="cerrarPopup()">Cerrar</div>
    </div>
</div>

@if (Session["User"] == null)
{
<script>
    document.addEventListener('DOMContentLoaded', function () {
        mostrarPopup();
    });

    function mostrarPopup() {
        document.getElementById('popupOverlay').style.display = 'flex';
    }

    function cerrarPopup() {
        document.getElementById('popupOverlay').style.display = 'none';
    }
</script>
}

