@{
    ViewBag.Title = "Producto";
    if (Session["User"] == null)
    {
        <script>
            window.location.href = "Index";
        </script>
    }
}

<link rel="stylesheet" href="~/Content/Styles/producto.css">

<img src="~/img/Producto.png" class="imgTituloPag" />

<div class="container">
    <div class="OpcionesProducto mb-5 d-flex justify-content-between">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-success btnopc1 active">
                <input type="radio" name="options" id="opcTablaP" autocomplete="off" checked> Datos
            </label>
            <label class="btn btn-success btnopc2">
                <input type="radio" name="options" id="opcGraficoP" autocomplete="off"> Estadisticas
            </label>
        </div>
        <div class="btnAgregarProductodiv">
            <button class="btnTablaP btn btn-success" onclick="downloadExcel()">Excel <i class="fa fa-table" aria-hidden="true"></i></button>
            <button class="btnTablaP btn btn-success" onclick="location.href='@Url.Action("Agregar_ActualizarProducto", "Home", new { Op = 1 })'">Agregar</button>
        </div>
    </div>

    <!-- Tabla de productos -->
    <div class="tablaProductos">
        <table class="table table-striped table-container table-responsive" id="myTableProducts">
            <thead>
                <tr class="bg-success">
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Compra</th>
                    <th scope="col">Precio Venta</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Opcion</th>
                </tr>
            </thead>
            <tbody id="TablaBodyProduct"></tbody>
        </table>
    </div>

    <!-- Gráfico y cuadro de información -->
    <div class="containerEstadistica">
        <!-- Sección para el gráfico -->
        <div class="GraficoProductos" id="GraficoProductos" style="display: none;">
            <div class="grafico-container" style="max-width: 100%; height: 400px;">
                <canvas id="GraficoPie" style="width: 100%; height: 100%;"></canvas>
            </div>
        </div>

        <!-- Contenedor de las tablas -->
        <div class="tabla-contenedor">
            <div id="detalles-producto-top-mas-ganancias" class="detalles-contenedor">
                <div id="tabla2">
                    <h3 id="tituloProductosGanancias">Top 5 productos con mayores ganancias</h3>
                    <div id="detallesProductosGanancias" class="tabla-productos">
                        <!-- Aquí se generará dinámicamente el top 5 de productos con mayores ganancias -->
                    </div>
                </div>
            </div>

            <div id="detalles-producto-top-menor-ganancias" class="detalles-contenedor">
                <div id="tabla2">
                    <h3 id="tituloProductosMenorGanancias">Top 5 productos con menores ganancias</h3>
                    <div id="detallesProductosMenorGanancias" class="tabla-productos">
                        <!-- Aquí se generará dinámicamente el top 5 de productos con mayores ganancias -->
                    </div>
                </div>
            </div><div id="detalles" class="detalles-contenedor">
                <div id="tabla1">
                    <h3 id="tituloProductos">1) Seleccione la sección de la gráfica de la que desea saber mayor información</h3>
                    <div id="detallesProductos" class="tabla-productos">
                        <!-- Aquí se generarán los productos dinámicamente -->
                    </div>
                </div>
            </div>

            <!-- Tabla con los productos seleccionados por el gráfico -->
            <!-- Producto con proveedor -->
            <div id="detalles-producto-proveedor" class="detalles-contenedor">
                <div id="tabla2">
                    <h3 id="tituloProductosProv">2) Seleccione un elemento de la tabla del que desea saber mayor información</h3>
                    <div id="detallesProductoProv" class="tabla-productos">
                        <!-- Aquí se generarán los detalles del producto dinámicamente -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="~/Scripts/Script/producto.js"></script>