
@{
    ViewBag.Title = "Producto";
    if (Session["User"] == null)
    {
        <script>
            window.location.href = "Index";
        </script>
    }
}

<link rel="stylesheet" href="~/Content/Styles/producto.css">

<h2>Producto</h2>
<div class="container">
    <div class="OpcionesProducto mb-5 d-flex justify-content-between">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-success btnopc1 active">
                <input type="radio" name="options" id="opcTablaP" autocomplete="off" checked> Datos
            </label>
            <label class="btn btn-success btnopc2">
                <input type="radio" name="options" id="opcGraficoP" autocomplete="off"> Estadisticas
            </label>
        </div>
        <div class="btnAgregarProductodiv">
            <button class="btnTablaP btn btn-success" onclick="downloadExcel()">Excel <i class="fa fa-table" aria-hidden="true"></i></button>
            <button class="btnTablaP btn btn-success" onclick="location.href='@Url.Action("Agregar_ActualizarProducto", "Home", new { Op = 1 })'">Agregar</button>
        </div>
    </div>

    <div class="tablaProductos">
        <table class="table table-striped table-container table-responsive" id="myTableProducts">
            <thead>
                <tr class="bg-success">
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Compra</th>
                    <th scope="col">Precio Venta</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Opcion</th>
                </tr>
            </thead>
            <tbody id="TablaBodyProduct">
            </tbody>
        </table>
    </div>

    <div class="GraficoProductos" id="GraficoProductos">
    </div>
</div>

<script src="~/Scripts/Script/producto.js"></script>






