
@{
    ViewBag.Title = "Proveedor";
    if (Session["User"] == null)
    {
        <script>
            window.location.href = "Index";
        </script>
    }
}

<link rel="stylesheet" href="~/Content/Styles/Proveedor.css">

<img src="~/img/Proveedor.png" class="imgTituloPag" />

<div class="container">
    <div class="col-12 d-flex mb-5 justify-content-end">
        <button class="btnTablaP btn btn-success" onclick="location.href='@Url.Action("Agregar_ActualizarProveedor", "Home", new { Op = 1 })'">Agregar</button>
    </div>
    <div class="tableProveedores">
        <table class="table table-striped" id="myTableCliente">
            <thead>
                <tr class="bg-success">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Opcion</th>
                </tr>
            </thead>
            <tbody id="TablaBodyProveedor">
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/Script/proveedor.js"></script>