
.carousel-item {
    min-height: 500px;
    background-size: cover;
}


.informacionFormulario {
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
}

.columnaform {
    border-radius: 15px;
    background: rgba(255,255,255,0.3);
}
.formulario {
    align-items: center;
}

.formularioInfo {
    padding-top: 35px;
    padding-bottom: 35px;
}

.formularioInfo .form-group h1 {
    color: #12DD9C;
}

.TextSaberMas {
    font-size:4rem;
}

.textCarrusel {
    font-weight: 900;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.inputInfo {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #12DD9C;
}


.form-group {
    width: 100% !important;
    font-size: 20px !important;
    border:none;

}

.btnEnviarInfo {
    width: 100%;
    font-size: 20px !important;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

/* Estilos para el popup */
.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.popup .logoinfo{
    color: #FF9700;
    font-size:20rem;
}

/* Estilos para el botón de cierre */
.close-btn {
    cursor: pointer;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/****************************************/
.encabezado img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 45vh;
    width: 100%;
}
.imagen {
    margin: 40px;
    position: absolute;
    top: 50%;
    left: 40%;
    
}

.imagen img {
    max-width: 150px; 
    border-radius: 100px;
    
}

body {   
    background-color: #dde6e3;
    margin: 0;
}

.contenedorInformacion {
    text-align: center;
    font-family: Bahnschrift;
}

.containerUsuario {
    font-size: 15px;
    padding: 50px;
    background-color: #fff;
    border-radius: 30px;
    margin: 40px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    text-align: left;

}

.contenedorDatos {
    margin-bottom: 20px;
}


h2 {
    color: #153E50;
}

label {
    font-weight: bold;
}

.contenedorDatos input {
    max-width: 100% !important;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #12DD9C;
    border-radius: 4px;
}

.labels {
    display: block;
    margin-top: 10px;
}

.button {
    background-color: #12DD9C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background-color: #18888C;
    }





