/****************ESTILOS USUARIO SIN LOGEAR************************/
body {
    overflow-x: hidden;
}

.container p{
    font-size:1.5rem;
}

.jumbotron {
    background-image: url('https://blog.gieicom.com/hubfs/control_de_inventarios-1.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.animacion-text {
    text-align: center;
    animation: cambioTexto 5s infinite;
}

.services {
    padding: 50px 0;
}

.service-item {
    text-align: center;
}

/*contactanos*/
.contact {
    padding: 50px 0;
    background-color: #153E50;
    color: #000A2F;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff75;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

    .contact-form h2 {
        margin-bottom: 20px;
        text-align: center;
    }

.form-group {
    margin-bottom: 20px;
}

.form-control {
    max-width: 100% !important;
    font-size:1.5rem;
}

    .form-group label {
        color: #000A2F;
    }


/*mision vision y objetivos*/
.nosotros {
    padding: 50px 0;
}

.nosotros-item {
    text-align: center;
}

.imgMVO {
    width: 25%;
}

/*animacion*/
@keyframes cambioTexto {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}


@keyframes up-and-down {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }

    30% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.25);
    }
}

.animacion {
    view-timeline: --scroll;
    view-timeline-axis: block;
    animation-timeline: --scroll;
    animation-name: up-and-down;
    animation-fill-mode: both;
} 

/* Estilos para el popup */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.popup .logoinfo{
    color: #FF9700;
    font-size:20rem;
}

/* Estilos para el botón de cierre */
.close-btn {
    cursor: pointer;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/****************ESTILOS ISUARIO LOGEADO************************/
.encabezado img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 45vh;
    width: 100%;
}
.imagen {
    margin: 40px;
    position: absolute;
    top: 50%;
    left: 40%;
    
}

.imagen img {
    max-width: 150px; 
    border-radius: 100px;
    
}

body {   
    background-color: #dde6e3;
    margin: 0;
}

.contenedorInformacion {
    text-align: center;
    font-family: Bahnschrift;
}

.containerUsuario {
    font-size: 15px;
    padding: 50px;
    background-color: #fff;
    border-radius: 30px;
    margin: 40px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    text-align: left;

}

.contenedorDatos {
    margin-bottom: 20px;
}


h2 {
    color: #153E50;
}

label {
    font-weight: bold;
}

.contenedorDatos input {
    max-width: 100% !important;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #18888C;
    border-radius: 4px;
}

.labels {
    display: block;
    margin-top: 10px;
}

.button {
    background-color: #18888C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background-color: #18888C;
    }





