.cuadro {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(21.25rem, calc(50% - 10px)), 1fr));
    grid-gap: 10px;
}

.carta {
    border-radius: 15px;
    background-color: #0A2342;
    height: 12rem;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-image: url('../../img/vilvaosBackGroundBlack.png');
    width:85%;
    margin-bottom: 2rem;
}

.carta.logo {
    background-size: 65% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.carta.flip {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #Fff;
}

.imgGanador {
    width: 80%;
}

#Ganador .h1 {
    text-align: center;
}

.modal-dialog {
    max-width: 80% !important
}

#imageMatch {
    width: -webkit-fill-available;
    max-width: 80%;
}

@media screen and (max-width: 720px) {
    .modal-dialog {
        max-width: 100% !important
    }
    #imageMatch {
        width: -webkit-fill-available;
        max-width: 100%;
    }
}
