/*PANTALLA DE INICIO*/
.btnopc1, .btnopc2, .btnTablaP {
    font-size: 15px;
}

.tablaProductos {
    font-size:15px;
}

.OpcionesProducto{
    align-items:center
}

/*PANTALLA DE AGREGAR PRODUCTO*/

.formAgregarProducto {
    background-color: #EEEEEE;
    font-size: 25px;
    border-radius: 15px !important;
    box-shadow: 4px 5px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 5rem;
    position: relative;
}

    .formAgregarProducto::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: 
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%235B6B76' fill-opacity='0.5' d='M0,160L18.5,160C36.9,160,74,160,111,176C147.7,192,185,224,222,240C258.5,256,295,256,332,240C369.2,224,406,192,443,165.3C480,139,517,117,554,133.3C590.8,149,628,203,665,208C701.5,213,738,171,775,138.7C812.3,107,849,85,886,112C923.1,139,960,213,997,240C1033.8,267,1071,245,1108,234.7C1144.6,224,1182,224,1218,218.7C1255.4,213,1292,203,1329,186.7C1366.2,171,1403,149,1422,138.7L1440,128L1440,320L1421.5,320C1403.1,320,1366,320,1329,320C1292.3,320,1255,320,1218,320C1181.5,320,1145,320,1108,320C1070.8,320,1034,320,997,320C960,320,923,320,886,320C849.2,320,812,320,775,320C738.5,320,702,320,665,320C627.7,320,591,320,554,320C516.9,320,480,320,443,320C406.2,320,369,320,332,320C295.4,320,258,320,222,320C184.6,320,148,320,111,320C73.8,320,37,320,18,320L0,320Z'%3E%3C/path%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%236D8290' fill-opacity='0.5' d='M0,96L8.9,112C17.8,128,36,160,53,170.7C71.1,181,89,171,107,165.3C124.4,160,142,160,160,170.7C177.8,181,196,203,213,213.3C231.1,224,249,224,267,186.7C284.4,149,302,75,320,80C337.8,85,356,171,373,186.7C391.1,203,409,149,427,117.3C444.4,85,462,75,480,90.7C497.8,107,516,149,533,181.3C551.1,213,569,235,587,240C604.4,245,622,235,640,240C657.8,245,676,267,693,229.3C711.1,192,729,96,747,64C764.4,32,782,64,800,90.7C817.8,117,836,139,853,133.3C871.1,128,889,96,907,122.7C924.4,149,942,235,960,240C977.8,245,996,171,1013,133.3C1031.1,96,1049,96,1067,117.3C1084.4,139,1102,181,1120,202.7C1137.8,224,1156,224,1173,208C1191.1,192,1209,160,1227,138.7C1244.4,117,1262,107,1280,106.7C1297.8,107,1316,117,1333,122.7C1351.1,128,1369,128,1387,154.7C1404.4,181,1422,235,1431,261.3L1440,288L1440,320L1431.1,320C1422.2,320,1404,320,1387,320C1368.9,320,1351,320,1333,320C1315.6,320,1298,320,1280,320C1262.2,320,1244,320,1227,320C1208.9,320,1191,320,1173,320C1155.6,320,1138,320,1120,320C1102.2,320,1084,320,1067,320C1048.9,320,1031,320,1013,320C995.6,320,978,320,960,320C942.2,320,924,320,907,320C888.9,320,871,320,853,320C835.6,320,818,320,800,320C782.2,320,764,320,747,320C728.9,320,711,320,693,320C675.6,320,658,320,640,320C622.2,320,604,320,587,320C568.9,320,551,320,533,320C515.6,320,498,320,480,320C462.2,320,444,320,427,320C408.9,320,391,320,373,320C355.6,320,338,320,320,320C302.2,320,284,320,267,320C248.9,320,231,320,213,320C195.6,320,178,320,160,320C142.2,320,124,320,107,320C88.9,320,71,320,53,320C35.6,320,18,320,9,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;

    }

.formAgregarProducto input {
    max-width: 100%;
    border: none;
    border-bottom: 2px solid #12DD9C;
    font-size: 1.5rem !important;
}

.formAgregarProducto .fa {
    color: #12DD9C;
}

.caja1 {
    padding: 0 10% !important;
}

.btnform {
    font-size:18px;
    margin-right:2rem;
    z-index:2;
}

.iconform {
    background-color:#fff;
    border-radius:50%;
}

.lista-proveedores {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Inicialmente oculto */
}


/*tabla*/

.GraficoProductos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico-container {
    margin: 10px;
}
